@import url("reset.css");
@import url("data.css");

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background: #ededed url(/images/bg.png);
  font-size: 12px;
}

header, section, aside, article {
  display: block;
}

svg {
  display: block;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #5f8ab6;
}

a:hover {
  color: #6db963;
}

/*------------------------------------------------------------------------------------
  @group shared
------------------------------------------------------------------------------------*/

.wrap {
  width: 960px;
  margin: 0 auto;
}

.wrap-inner {
  margin: 0 10px;
}

.wrap-inner:after {
  content: ".";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
}

.box {
  background: rgb(255,255,255);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px rgba(60,60,60,0.3);
  -moz-box-shadow: 0 1px 0 rgba(60,60,60,0.3);
  box-shadow: 0 1px 1px rgba(60,60,60,0.3);
}

.box header {
  margin: 0;
  padding: 0;
  background: #f3f5f7;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright:5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: 1px solid #dbdbdb;
}

.box.wfilter header {
  border-bottom: 1px solid #bbb;
}

.box header h1 {
  font-size: 14px;
  padding: 10px;
  display: inline-block;
  text-shadow: 1px 1px #fff;
}

.box:after {
  visibility: hidden;
  height: 0;
  content: ".";
  clear: both;
  display: block;
}

.box.txt {
  padding: 10px;
}

.box.txt h1 {
  font-size: 14px;
  margin-bottom: 10px;
}

#main .box.txt h1 {
  font-size: 18px;
}

.box.txt h2 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

.box.txt p {
  margin-bottom: 10px;
}

.box.txt ul.cntr {
  text-align: center;
  margin: 0;
  padding: 0;
}

.box.txt ul.cntr li {
  border-top: 1px solid #eee;
  list-style: none;
  padding: 10px 0;
}

.box.txt ul.cntr li:last-child {
  padding-bottom: 0;
}

.box.txt span.badge {
  float: right;
  font-size: 18px;
  margin-right: 0;
}

.box.txt p {
  line-height: 1.5em;
  color: #888;
  font-size: 13px;
}

.boxgroup:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.boxgroup .box {
  float: left;
  width: 465px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.boxgroup .box:nth-child(even) {
  margin-right: 0;
}

.filter {
  background: #eee -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#cecece));
  background: #eee -moz-linear-gradient(top,#e0e0e0 , #cecece);
  border-top: 1px solid #ccc;
}

.filter ul.times {
  padding: 0;
}

.filter ul.times li {
  background: url(/images/timeperiods.png) no-repeat;
  border-right: 1px solid #c1c1c1;
  font-weight: bold;
  cursor: pointer;
}

.filter ul.times li.day {
  background: url(/images/timeperiods.png) -185px 9px no-repeat;
}

.filter ul.times li.dar {
  background: url(/images/timeperiods.png) -185px -21px no-repeat;
}

.filter ul.times li.wnl {
  background: url(/images/timeperiods.png) -188px -50px no-repeat;
}

.filter ul.times li.off.day {
  background-position: 15px 9px;
}

.filter ul.times li.off.dar {
  background-position: 15px -21px;
}

.filter ul.times li.off.wnl {
  background-position: 15px -50px;
}

.filter ul.times li.off span.lbl {
  color: #999;
}

/* @end */

/*------------------------------------------------------------------------------------
  @group structure
------------------------------------------------------------------------------------*/
#content {
  margin-top: 10px;
}

#main {
  width: 660px;
  float: left;
  min-height: 300px;
}

aside#sbar {
  float: right;
  width: 270px;
  margin-left: 10px;
}

#subbar {
  margin-top: 22px;
}

footer {
  margin-top: 10px;
  font-size: 12px;
  color: #999;
/*  background: rgba(255,255,255, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;*/
}

footer .box {
  padding: 10px;
  background: rgba(31, 36, 41,0.1);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-align: center;
}

/* @end */

/*------------------------------------------------------------------------------------
  @group header
------------------------------------------------------------------------------------*/
header .wrap {
  padding-top: 7px;
  height: 98px;
}
header#top {
  height: 105px;
  background: url(/images/hdr-tile.png) repeat-x;
}

header h1 {
  padding-top: 18px;
}


nav#primary {
  width: 640px;
  display: inline-block;
} 

nav#primary ul li {
  display: inline-block;
  position: relative;
}

nav#primary ul li a {
  display: inline-block;
  padding: 12px 30px 13px 30px;
  color: #838b92;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.1em;
  border-right: 1px solid #eee;
  text-transform: uppercase;
}

nav#primary ul li a:hover {
  color: #333;
}

nav#primary li.selected a {
  color: #333;
}

nav#primary li.selected a:before {
  content: url(/images/arr.png);
  position: absolute;
  bottom: -8px;
  left: 49.5%;
}

nav#primary li span {
  font-family: Pictos;
  font-weight: normal;
  font-size: 16px;
  margin-right: 5px;
  color: #6db963;
  line-height: 0;
  text-transform: none;
}

span.last-import {
  display: inline-block;
  color: #858585;
  font-weight: 200;
  margin-left: 15px;
}

span.last-import:before {
  font-family: Pictos;
  content: 'r ';
  font-weight: 100;
  font-size: 16px;
  color: #6ea0d2;
}

/* @end */

/*------------------------------------------------------------------------------------
  @group map
------------------------------------------------------------------------------------*/
header a.locate {
  display: inline-block;
  text-indent: -99999px;
  background: url(/images/locate.png) no-repeat;
  width: 18px;
  height: 19px;
  float: right;
  margin: 10px 10px 0 0;
}

header a.locate.finding {
  background-position: 0 -18px;
}

#map {
  height: 600px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
}

#canvas {
  overflow: hidden;
  position: relative;
  height: 565px;
}

aside#info {
  width: 220px;
  background-color: rgba(0,0,0,0.9);
  float: right;
  margin: 90px 20px 20px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#info header {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright:3px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;

  border-bottom: 1px solid rgba(150,150,150,0.4);
  display: block;
  padding: 9px;
}

#info header h1 {
  margin: 0;
  padding: 0;
}

.resizer {
  position: absolute;
  left: 24px;
  top: 70px;
  font-family: Pictos;
  font-size: 15px;
  color: rgba(255,255,255,0.6);
  background: rgba(0,0,0,0.6);
  display: block;
  width: 25px;
  height: 25px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
}

.fullscreen .resizer {
  top: 70px;
}

.fslogo {
  padding: 10px;
  background: rgba(0,0,0,0.6);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

/* @end */

/*------------------------------------------------------------------------------------
  @group history
------------------------------------------------------------------------------------*/

#history svg {
  stroke-width: 0;
}

/* @end */

/*------------------------------------------------------------------------------------
  @group sbar
------------------------------------------------------------------------------------*/
.offenses, #offenses {
  list-style: none;
  margin: 0;
  padding: 0;
}

.offenses li {
  display: block;
  border-top: 1px solid #f6f6f6;
}

.offenses li:first-child {
  border-top: none;
}

.offenses li ul li {
  padding: 8px 10px;
}

.offenses li ul li a {
  color: #333;
}

.offenses li a:hover {
  color: #999;
}

/*span.check,
span.exp,
span.badge {
  font-family: Pictos;
  margin-right: 5px;
  color: #ccc;
}*/

.offenses span.exp {
  color: rgba(50,50,50,0.6);
  display: inline-block;
  float: right;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform:  rotate(90deg);
  font-size: 14px;
  line-height: 100%;
}

.offenses span.exp.collapsed {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  transform:  rotate(0);
}

.offenses span.code {
  font-style: italic;
  color: #a6b3b9;
  margin-left: 2px;
}

.offenses span.otype  {
  background: #e0e0e0 -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#cfcfcf));
  background: #e0e0e0 -moz-linear-gradient(top, #e0e0e0, #cfcfcf);
  border-bottom-color: #cdcdcd;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px rgba(255,255,255,0.5);
  display: block;
  padding: 8px 10px;
}

.offenses span.otype a {
  color: #656565;
}

li.group > span a:hover {
  color: #222;
}

span.check,
span.exp,
span.badge {
  font-weight: normal;
  line-height: 0;
  text-transform: none;
  cursor: pointer;
  font-family: Pictos;
  margin-right: 5px;
  color: #ccc;
}

li[data-code=no] span.check,
span.badge[data-code=no] {
  color: #3e3095;
}

li[data-code=vi] span.check,
span.badge[data-code=vi] {
  color: #b50000;
}

li[data-code=se] span.check,
span.badge[data-code=se] {
  color: #ff00a4;
}

li[data-code=dr] span.check,
span.badge[data-code=dr] {
  color: #ef6917;
}

li[data-code=fi] span.check,
span.badge[data-code=fi] {
  color: #00b93f;
}

.offenses span.check:hover,
.offenses span.exp:hover {
  color: #ff6d00 !important;
}

.offenses span.check.inactive {
  color: #ccc;
}

span.count {
  float: right;
  color: #888;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #eee;
  display: inline-block;
  padding: 3px;
  min-width: 25px;
  text-align: center;
  margin-top: -3px;
  font-size: 10px;
}

div.year {
  display: inline-block;
  width: 49%;
}

#total div.year span.num {
  font-size: 200%;
  min-height: 0;
  margin-bottom: 10px;
}

#total div.year span.label {
  font-style: normal;
}

/* @end */

/*------------------------------------------------------------------------------------
  @group neighborhood
------------------------------------------------------------------------------------*/


.comparison {
  width: 100%;
}

.comparison th {
  font-weight: bold;
  padding: 5px;
  border-bottom: 2px solid #ccc;
}

.comparison td {
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  padding: 10px 5px;
  text-align: center;
}

.comparison tr td:last-child {
  border-right: 0;
}

.comparison th:first-child {
  text-align: left;
}

.comparison tbody th {
  border-bottom: 1px solid #eee;
  border-right: 1px dotted #ccc;
}

.comparison tbody tr:last-child td,
.comparison tbody tr:last-child th {
  border-bottom: none;
}

.comparison tr:nth-child(even) td,
.comparison tr:nth-child(even) th {
  background: #f7f7f7;
}

.box.txt .comparison tbody th span.badge {
  float: none;
  margin-right: 3px;
}

span.glyph {
  font-family: Pictos;
  color: #999;
}

span.percent {
  color: #999;
}

span.rise {
  color: #a00;
}

span.fall {
  color: #63a85a;
}

/* @end */

/*------------------------------------------------------------------------------------
  @group offense
------------------------------------------------------------------------------------*/
#pulse {
  margin-top: 10px;
  min-height: 40px;
}

#total {
  border-top: 1px solid #e7e7e7;
  margin: 10px 0;
  padding: 10px 0 0 0;
  min-height: 50px;
}

#total .num {
  font-size: 40px;
  display: block;
  text-align: center;
  font-weight: bold;
  min-height: 40px;
}

#total .label {
  display: block;
  text-align: center;
  color: #999;
  font-style: italic;
}

.props {
  list-style: none;
  margin: 0;
  padding: 0;
}

.props li {
  border-top: 1px solid #e7e7e7;
  padding: 10px 0;
}

.props li strong {
  margin-right: 5px;
}

.props li .val {
  color: #888;
}

.props ul.proplist {
  list-style: none;
  margin-top: 10px;
}

.props .proplist li {
  border: none;
  padding: 5px;
}
/* @end */

/*------------------------------------------------------------------------------------
  @group trends
------------------------------------------------------------------------------------*/
#year-counts {
  margin-bottom: 10px;
}

#trends {
  min-height: 200px;
}

#trends ol {
  list-style: none;
  margin: 10px 10px 30px 10px;
  padding: 0;
  height: 200px;
}

#trends ol li {
  position: relative;
  display: inline-block;
  background: #c00;
  margin-right: 2px;
  width: 15px;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright:2px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

#trends ol li span.mon {
  position: absolute;
  bottom: -20px;
}

#trends ol li span.info {
  position: absolute;
  top: -50px;
  left: -20px;
  background: rgba(240,240,240,0.9);
  text-align: center;
  display: none;
  -webkit-box-shadow: 1px 1px rgba(50,50,50,0.2);
  padding: 6px;
  border: 1px solid #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 50px;
}

#trends ol li.on {
  background: #800;
}

#trends ol li.on span.info {
  display: block;
  z-index: 200;
}

#trends ol li span.num {
  font-weight: bold;
  display: block;
  margin-bottom: 3px;
  font-size: 140%;
}

span.range {
  color: #666;
}

#legend {
  padding: 10px;
  background: rgba(0,0,0,0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

#legend h2 {
  display: inline-block;
}

#legend ul {
  display: inline-block;
}

#legend ul li {
  width: auto;
  padding-top: 0;
  padding-bottom: 0;
  background-position: 10px 0;
  line-height: 150%;
}

#legend span.range {
  float: right;
  margin-top: 2px;
  font-weight: bold;
}

#legend span.lbl {
  color: #555;
  text-shadow: 1px 1px rgba(255,255,255,0.5);
}

div.box.summary {
  padding: 0;
}

div.summary h2 {
  font-size: 120%;
  border-bottom: 1px solid #eee;
  padding: 10px;
}

div.summary h2 span.total {
  float: right;
  font-weight: normal;
  color: #ccc;
}

ul.times {
  list-style: none;
  margin: 0;
}

ul.times li {
  display: inline-block;
  width: 96px;
  padding: 10px 10px 10px 35px;
  background-position: 10px 6px;
  background-repeat: no-repeat;
}

ul.times li.day {
  background-image: url(/images/day.png);
}

ul.times li.night {
  background-image: url(/images/night.png);
}

ul.times li.nightlife {
  background-image: url(/images/nightlife.png);
}

ul.times li:nth-child(3) {
  width: 130px;
}

ul.times li span.lbl {
  color: #777;
}

ul.times li span.num {
  font-weight: bold;
}

ul.times li span.percent {
  font-weight: bold;
  color: #999;
  text-align: center;
}
/* @end */

/*------------------------------------------------------------------------------------
  @group maptip
------------------------------------------------------------------------------------*/

.maptip h2 {
  font-size: 14px;
  background: #e0e0e0 -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#cfcfcf));
  background: #e0e0e0 -moz-linear-gradient(top, #e0e0e0, #cfcfcf);
  -moz-box-shadow:inset 0 1px -1px #fff;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  box-shadow: inset 0 -2px 1px rbga(255,255,255,0.4);   
  border-bottom: 1px solid #bbb;
  padding: 5px;
  position: relative;
}

.maptip h2 span.badge {
  font-size: 16px;
}

.maptip h2 a {
  color: #333;
}

.maptip h2 span.close {
  font-family: Pictos;
  top: 5px;
  right: 5px;
  position: absolute;
  font-weight: normal;
  color: rgba(100,100,100,0.7);
  cursor: pointer;
}

.maptip h2 span.close:hover {
  color: rgba(100,100,100,0.9);
}

.maptip p {
  padding: 5px;
  line-height: 1.2em;
  font-size: 11px;
}

.maptip span.date {
  display: block;
  color: #999;
  margin-top: 5px;
}

.nub {
  border-bottom: 0;
  height: 0;
  width: 0; 
  position: absolute;
  border-top: 6px solid transparent;
  border-right: 6px solid rgba(20,20,20,0.5);
  border-bottom: 6px solid transparent;
  left: -6px;
  top: 24px;
}
/* @end */