div.maptip {
  background: rgba(20,20,20,0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 99999;
}

div.maptip-cnt {
  margin: 5px;
  width: 200px;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}