svg.viz {
  shape-rendering: crispEdges;
}

svg text.hlbl,
svg text.vlbl {
  font-size: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #444;
}

svg text.hlbl.hide {
  display: none;
}

line {
  stroke: rgba(100,100,100,0.1);
  shape-rendering: crispEdges;
  stroke-width: 1px;
}

line.axis {
  stroke: rgba(100,100,100,0.3);
}

.legend {
  font-weight: bold;
}