<section id="main">
  <div class="box" id="map">
    <header>
      <h1>Crime Map</h1>
      <%= link_to 'Locate', nil, :class => 'locate' %>
    </header>
  </div>
  
  <section class="box">
    <header>
      <h1>Crime Pulse</h1>
    </header>
    <div id="history"></div>
  </section>
</section>

<aside id="sbar" class="box">
  <header><h1>Crime Types</h1></header>
  
</aside>