<% title 'About' %>
<section id="main">
  <div class="box txt">
    <h1>About The Portland Crime Site</h1>
    <p>
      This site is under heavy development by one person.  If you have questions or ideas, feel free to email 
      me: <%= mail_to('justin@labratrevenge.com', nil, :encode => :hex) %>.  You can also <%= link_to 'follow me on twitter', 'http://twitter.com/Caged' %>.
    </p>
  </div>
</section>